<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Evan's Website!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../css/style.css"/>

</head>
<body>

    <div class='container-fluid'>

        <div class='parallax'>
            <p id='name-tag'>Evan Tucker</p>
        </div>
        
        <div id='outer-nav'>
            <div id='nav-table'>
                <ul class='main-nav'>
                    <li class='nav-item'><a class='nav-link' href='/about'>about</a></li>
                    |
                    <li class='nav-item'><a class='nav-link' href='/portfolio'>portfolio</a></li>
                    |
                    <li class='nav-item'><a class='nav-link' href='/contact'>contact</a></li>
                </ul>
            </div>
        </div>
        
        {{{body}}}
        

        <div class='parallax'></div>

        <div class="footer">
            <p>Copywrite 2018 Evan Tucker</p>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>