
<div class='row' id='bio-section'>
    <div class='col' id='bio-content'>
        <div class='page-tag'>
            <h1>About Me</h1>
            <hr>
        </div>
        <div id='bio-image-div'>
            <img src="/images/bio-pic.JPG" id='bio-image' alt="bio picture" height='400px' width='300px'>
        </div>
        <p>
            Ever since I was a kid, I have always been interested in creating things.  
            From my early childhood of building Legos, to drawing, cooking and coding.  
            I have always been interested in doing something that combines creativity, 
            design and technical skills.
        </p>
        <p>
           Because of this interest I was drawn towards web development and coding during 
           my undergraduate degree in Business.  I decided to explore my interest and enrolled 
           in a Web development coding bootcamp, where I received my certification as a full 
           stack web developer.  After the course, I began working as a teaching assistant in 
           the same coding bootcamp, helping students from all different walks of life learn to 
           code. 
        </p>
        <p>
            In my free time I enjoy cooking, watching movies and playing video games, craft beer, 
            learning history, and above all, traveling.  After I graduated from University, I spent 
            7 weeks traveling around Europe on my own and had the most incredible experience of my 
            life.  I learned more about myself, and the world around me than I ever imagined, and it 
            sparked my desire make my life about travel and exploration.
        </p>
    </div>
    <div class='col-12' id='education-section'>
        <h2>Education</h2>
    </div>
</div>
