{{!-- <div class='container'>
    <div class='row' style="height: 700px;">
        <h1>about me, when I finish this page I will have completed the about me section of my portfolio websiote, lets see if any of this text is missing.</h1>
    </div>
</div> --}}
<div class='container'>
    <div class='row' id='about-row'>
        <div class='col'>
            <h1>about me, when I finish this page I will have completed the about me section of my portfolio websiote, lets see if any of this text is missing.</h1>
        </div>
    </div>
</div>
