
<div class='row' id='bio-section'>
    <div class='col-12' id='bio-content'>
        <div class='page-tag'>
            <h1>About Me</h1>
            <hr>
        </div>
        <div id='bio-image-div'>
            <img src="/images/backgrounds/bio-pic.JPG" id='bio-image' alt="bio picture" height='400px' width='300px'>
        </div>
        <p>
            Ever since I was a kid, I have always been interested in creating things.  
            From my early childhood of building Legos, to drawing, cooking and coding.  
            I have always been interested in doing something that combines creativity, 
            design and technical skills.
        </p>
        <p>
           Because of this interest I was drawn towards web development and coding during 
           my undergraduate degree in Business.  I decided to explore my interest and enrolled 
           in a Web development coding bootcamp, where I received my certification as a full 
           stack web developer.  After the course, I began working as a teaching assistant in 
           the same coding bootcamp, helping students from all different walks of life learn to 
           code. 
        </p>
        <p>
            In my free time I enjoy cooking, watching movies and playing video games, craft beer, 
            learning history, and above all, traveling.  After I graduated from University, I spent 
            7 weeks traveling around Europe on my own and had the most incredible experience of my 
            life.  I learned more about myself, and the world around me than I ever imagined, and it 
            sparked my desire make my life about travel and exploration.
        </p>
    </div>
    {{!-- <div class='parallax-2'>
        hello lets see if this div works
    </div> --}}
    {{!-- <div class='col-12' id='education-section'>
        <hr>
        <h2>Education</h2>
        <div class='education-box'>
            <div class='education'>
                <img class='edu-img' src='/images/CUDenver.png'/>
                <p>Bachelors of Science in Business Administration</p>
                <p>Emphasis on Marketing</p>
            </div>
            <div class='education'>
                <img class='edu-img' src='/images/trilogy-education.png'/>
                <p>University of Denver Coding Boot Camp</p>
                <p>Certified Full Stack Web Developer</p>
            </div>
        </div>
        <hr>
    </div> --}}
</div>

{{!-- <div class='parallax'></div> --}}

<div class='row' id='edu-section'>
    <div class='col-12'>
        <h2>Education</h2>
        <hr>
        <div class='education-box'>
            <div class='education'>
                <img class='edu-img' src='/images/icons/CUDenver.png'/>
                <p class='edu-title'>Bachelors of Science in Business Administration</p>
                <img class='edu-icon' src='/images/icons/degree-icon-2.png'>
                <p>Emphasis on Marketing</p>
            </div>
            <div class='education'>
                <img class='edu-img' src='/images/icons/trilogy-education.png'/>
                <p class='edu-title'>University of Denver Coding Boot Camp</p>
                <img class='edu-icon' src='/images/icons/certificate-icon-2.png'>
                <p>Certified Full Stack Web Developer</p>
            </div>
        </div>
    </div>
</div>
