

<div class='row'>
    {{!-- projects col --}}
    <div class='col-12 col-md-8' id='projects-col'>

        <div class='project-box'>
            <button class='project-btn'>Hangman Game<span><i class="fas fa-plus-square expand-btn plus-icon"></span></i></button>
            <img class='content' src='http://via.placeholder.com/300x150'/>
            <p class='content'>A heroes and villains hangman game, use the keyboard to guess the missing character.</p>
            {{!-- <ul class='content'>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
            </ul> --}}
            <table class='content' style="width:100%">
                {{!-- <p>Technologies Used</p> --}}
                <tr style="width:50%">
                    <td>JavaScript</td>
                    <td>jQuery</td>
                    
                </tr>
                <tr style="width:50%">
                    <td>Bootstrap</td>
                </tr>
            </table>
            <a class='content' href='https://evanejtucker.github.io/Hangman-Game/'>Play the Game Here</a>
            <a class='content' href='https://github.com/evanejtucker/Hangman-Game'>Check out the repo</a>
        </div>

        <div class='project-box'>
            <button class='project-btn'>Friend Finder<span><i class="fas fa-plus-square expand-btn plus-icon"></span></i></button>
            <img class='content' src='http://via.placeholder.com/300x150'/>
            <p class='content'>this is a basic hangman game where the user uses the keybaord to attempt to guess the hidden hero or villain</p>
            <ul class='content'>
                <li>Express</li>
                <li>Restful API</li>
                <li>Javascript</li>
                <li>Materialize</li>
            </ul>
            <a class='content' href='https://evanejtucker.github.io/Hangman-Game/'>Play the Game Here</a>
            <a class='content' href='https://github.com/evanejtucker/Hangman-Game'>Check out the repo</a>
        </div>
        <div class='project-box'>
            <button class='project-btn'>Hangman Game<span><i class="fas fa-plus-square expand-btn plus-icon" ></span></i></button>
            <img class='content' src='http://via.placeholder.com/300x150'/>
            <p class='content'>Use the keyboard to guess the hidden hero or villain</p>
            <ul class='content'>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
            </ul>
            <a class='content' href='https://evanejtucker.github.io/Hangman-Game/'>Play the Game Here</a>
            <a class='content' href='https://github.com/evanejtucker/Hangman-Game'>Check out the repo</a>
        </div>

        <div class='project-box'>
            <button class='project-btn'>Friend Finder<span><i class="fas fa-plus-square expand-btn plus-icon"></span></i></button>
            <img class='content' src='http://via.placeholder.com/300x150'/>
            <p class='content'>this is a basic hangman game where the user uses the keybaord to attempt to guess the hidden hero or villain</p>
            <ul class='content'>
                <li>Express</li>
                <li>Restful API</li>
                <li>Javascript</li>
                <li>Materialize</li>
            </ul>
            <a class='content' href='https://evanejtucker.github.io/Hangman-Game/'>Play the Game Here</a>
            <a class='content' href='https://github.com/evanejtucker/Hangman-Game'>Check out the repo</a>
        </div>
    </div>

    

    {{!-- skills, jobs, and resume col --}}
    <div class='col'>
        <p>I am going to set up a section that will contain my skills list as well as a link to my resume, I am now just typing to take up space.</p>
    </div>
</div>