{{!-- <div class="row">
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">U.S Citizen Exam Trivia Game</h5>
        <iframe src="https://giphy.com/embed/l0MYQ7lKM0Kom90uA" frameBorder="0" class="giphy-embed card-img-top" allowFullScreen></iframe><a href="https://giphy.com/gifs/fallontonight-jimmy-fallon-tonight-show-nbc-l0MYQ7lKM0Kom90uA"></a>
        <p class="card-text">Test your knowledge of the United states with this simple triva game.  THe game uses javascript, jquery, and bootsrap. </p>
        <a href="https://evanejtucker.github.io/TriviaGame/" target='blank' class="btn btn-primary">check it out!</a>  
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Heroes and Villains Hangman Game</h5>
        <img class="card-img-top" src="./images/hangman-game.jpg" alt="Card image cap">
        <p class="card-text">A basic hangman game using javascript, jquery, and bootsrap</p>
        <a href="https://evanejtucker.github.io/Hangman-Game/" target='blank' class="btn btn-primary">check it out!</a>
      </div>
    </div>
  </div>
</div> --}}

<div class='row'>
    <div class='col col-md-6 col-lg-8'>
        <div style='margin: 0 auto'>
            <div class='col' style='width: 200px; height: 400px; background: red; display: inline-block;'>
                <p>oh hey there</p>
            </div>
            <div class='col' style='width: 200px; height: 400px; background: red; display: inline-block;'>
                <p>oh hey there</p>
            </div>
            <div class='col' style='width: 200px; height: 400px; background: red; display: inline-block;'>
                <p>oh hey there</p>
            </div>
            <div class='col' style='width: 200px; height: 400px; background: red; display: inline-block;'>
                <p>oh hey there</p>
            </div>
        </div>
        
    </div>
    <div class='col'>
        <p>I am going to set up a section that will contain my skills list as well as a link to my resume, I am now just typing to take up space.</p>
    </div>
</div>