

<div class='row'>
    {{!-- projects col --}}
    <div class='col-12 col-md-8' style='text-align: center'>

        <div class='project-box'>
            <button class='project-btn' style='width: 100%; height: 50px; background: transparent; color: red; text-align: left; font-size: 1.5em'>Pokemon-RPG<span><i class="fas fa-plus-square" style='float: right; font-size: 1.6em;'></span></i></button>
            <img src='http://via.placeholder.com/300x150'/>
            <p>this is a basic hangman game where the user uses the keybaord to attempt to guess the hidden hero or villain</p>
        </div>

        <div class='project-box'>
            <button class='project-btn' style='width: 100%; height: 50px; background: transparent; color: red; text-align: left; font-size: 1.5em'>Pokemon-RPG<span><i class="fas fa-plus-square" style='float: right; font-size: 1.6em;'></span></i></button>
            <img src='http://via.placeholder.com/300x150'/>
            <p>this is a basic hangman game where the user uses the keybaord to attempt to guess the hidden hero or villain</p>
        </div>
        
    </div>

    

    {{!-- skills, jobs, and resume col --}}
    <div class='col'>
        <p>I am going to set up a section that will contain my skills list as well as a link to my resume, I am now just typing to take up space.</p>
    </div>
</div>