

<div class='row'>
    {{!-- projects col --}}
    <div class='col-12 col-md-8' style='text-align: center'>

        <div class='project-box'>
            <p>Project Title<span><button class='expand-btn'><i class="fas fa-plus-square"></i></button></span></p>
        </div>

        <div class='project-box'>
            <p>Project Title<span><button class='expand-btn'><i class="fas fa-plus-square"></i></button></span></p>
        </div>
        
    </div>

    

    {{!-- skills, jobs, and resume col --}}
    <div class='col'>
        <p>I am going to set up a section that will contain my skills list as well as a link to my resume, I am now just typing to take up space.</p>
    </div>
</div>