{{!-- <div class="row">
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">U.S Citizen Exam Trivia Game</h5>
        <iframe src="https://giphy.com/embed/l0MYQ7lKM0Kom90uA" frameBorder="0" class="giphy-embed card-img-top" allowFullScreen></iframe><a href="https://giphy.com/gifs/fallontonight-jimmy-fallon-tonight-show-nbc-l0MYQ7lKM0Kom90uA"></a>
        <p class="card-text">Test your knowledge of the United states with this simple triva game.  THe game uses javascript, jquery, and bootsrap. </p>
        <a href="https://evanejtucker.github.io/TriviaGame/" target='blank' class="btn btn-primary">check it out!</a>  
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Heroes and Villains Hangman Game</h5>
        <img class="card-img-top" src="./images/hangman-game.jpg" alt="Card image cap">
        <p class="card-text">A basic hangman game using javascript, jquery, and bootsrap</p>
        <a href="https://evanejtucker.github.io/Hangman-Game/" target='blank' class="btn btn-primary">check it out!</a>
      </div>
    </div>
  </div>
</div> --}}

<div class='row'>
    {{!-- projects col --}}
    <div class='col-12 col-md-8' style='text-align: center'>
        {{!-- <div class='project-box'>
            <p class='project-title'>Hangman Game<span><button type="button" class="btn btn-outline-success expand-btn"><i class="fas fa-plus-square"></i></button></span></p>
            <img class='project-img' src='http://via.placeholder.com/250x150'/>
            <p class='project-info'>I built this app with javascript, jquery, and bootsrap</p>
            <a class='project-link' href='#' traget='blank'>Check it out!</a>
        </div> --}}

        <div class='project-box'>
            <div class='project-title'>
                <p class='project-title'>Hangman Game<span><button type="button" class="btn btn-outline-success expand-btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-plus-square"></i></button></span></p>
            </div>
            <div class="project-contnet collapse show" id="collapseExample">
                <img class='project-img' src='http://via.placeholder.com/250x150'/>
                <p class='project-info'>I built this app with javascript, jquery, and bootsrap</p>
                <a class='project-link' href='#' traget='blank'>Check it out!</a>
            </div>
        </div>
    </div>

    {{!-- skills, jobs, and resume col --}}
    <div class='col'>
        <p>I am going to set up a section that will contain my skills list as well as a link to my resume, I am now just typing to take up space.</p>
    </div>
</div>