

<div class='row' id='project-row'>
    {{!-- projects col --}}
    <div class='col-12 col-md-8' id='projects-col'>

        <div class='project-box'>
            <button class='project-btn'>Hangman Game<span><i class="fas fa-plus-square expand-btn plus-icon"></span></i></button>
            <img class='content image-content' src='/images/hangman.jpg'/>
            <p class='content text-content'>A heroes and villains hangman game, use the keyboard to guess the missing character.</p>
            <table class='content' style="width:100%">
                <tr>
                    <td>JavaScript</td>
                    <td>jQuery</td>
                    <td>Bootstrap</td>
                </tr>
            </table>
            <a class='content' target='blank' href='https://evanejtucker.github.io/Hangman-Game/'>Check it out here</a><br>
        </div>

        <div class='project-box'>
            <button class='project-btn'>Friend Finder<span><i class="fas fa-plus-square expand-btn plus-icon"></span></i></button>
            <img class='content image-content' src='/images/friend-finder.jpg'/>
            <p class='content text-content'>Take the survey to find out which Game of Thrones character you are most compatible with.</p>
            <table class='content' style="width:100%">
                <tr>
                    <td>Express</td>
                    <td>RESTful API</td>
                    <td>Javascript</td>
                </tr>
                <tr>
                    <td>jQuery</td>
                    <td>Materialize</td>
                    <td>Node</td>
                </tr>
            </table>
            <a class='content' target='blank' href='https://aqueous-harbor-99526.herokuapp.com/'>Check it out here</a><br>
        </div>

        <div class='project-box'>
            <button class='project-btn'>Giphy Library<span><i class="fas fa-plus-square expand-btn plus-icon"></span></i></button>
            <img class='content image-content' src='/images/giphy.gif'/>
            <p class='content text-content'>Use the Giphy API to search and display gifs</p>
            <table class='content' style="width:100%">
                <tr>
                    <td>Giphy API</td>
                    <td>AJAX</td>
                    <td>Javascript</td>
                </tr>
                <tr>
                    <td>jQuery</td>
                    <td>Bootstrap</td>
                </tr>
            </table>
            <a class='content' target='blank' href='https://evanejtucker.github.io/GifTastic/'>Check it out here</a><br>
        </div>

        <div class='project-box'>
            <button class='project-btn'>Trivia Game<span><i class="fas fa-plus-square expand-btn plus-icon"></span></i></button>
            <img class='content image-content' src='/images/trivia-game.jpg'/>
            <p class='content text-content'>Test your knowledge of the U.S. with this citizenship exam trivia game</p>
            <table class='content' style="width:100%">
                <tr>
                    <td>Javascript</td>
                    <td>Jquery</td>
                    <td>Bootstrap</td>
                </tr>
            </table>
            <a class='content' target='blank' href='https://evanejtucker.github.io/TriviaGame/'>Check it out here</a><br>
        </div>

        <div class='project-box'>
            <button class='project-btn'>Train Scheduler<span><i class="fas fa-plus-square expand-btn plus-icon"></span></i></button>
            <img class='content image-content' src='/images/train.gif'/>
            <p class='content text-content'>Add a train the schedule and find out when the next arrival will be</p>
            <table class='content' style="width:100%">
                <tr>
                    <td>Javascript</td>
                    <td>Moment.js</td>
                    <td>Bootstrap</td>
                </tr>
                <tr>
                    <td>jQuery</td>
                    <td>Firebase</td>
                </tr>
            </table>
            <a class='content' target='blank' href='https://evanejtucker.github.io/TrainScheduler/'>Check it out here</a><br>
        </div>

    </div>

    {{!-- skills, jobs, and resume col --}}
    <div class='col'>
        <div class='row' id='skills-row'>
            <div class='col-12 col-sm-6 col-md-12' id='skills-col'>
                <div id='skills-box'>
                    <div class='skills front-end'>
                        <img  class='skills-img' src='/images/front-end.png'>
                        <p>Front End Skills</p>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                            <li>jQuery</li>
                            <li>Templating Engines</li>
                            <li>React</li>
                        </ul>
                    </div>
                    <div class='skills back-end'>
                        <img class='skills-img' src='/images/back-end.png'>
                        <p>Back End Skills</p>
                        <ul>
                            <li>Node</li>
                            <li>Express</li>
                            <li>RESTful API's</li>
                            <li>MySQL</li>
                            <li>MongoDB</li>
                            <li>Passport</li>
                        </ul>
                    </div>
                    <div class='skills other-skills'>
                        <img class='skills-img' src='/images/other-skills.png'>
                        <p>Other Skills:</p>
                        <ul>
                            <li>Customer Service</li>
                            <li>Public Speaking</li>
                            <li>Microsoft Office</li>
                            <li>Marketing</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='col-12 col-sm-6 col-md-12' id='contact-col'>
                <h2 class='skill-title'>Find me on:</h2>
                <hr>
            </div>

        </div> 
    </div>

</div>