/* ----------------------------------------------------------------------------------------- */
/* main stlyes */
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #FFEBCD;
    }

    .parallax {
        background-image: url("../images/triangle-patterns-2.jpg");
        min-height: 200px; 
        background-attachment: fixed;
        background-position: center;
        background-size: auto;
    }

    #name-box {
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
    }

    #name-tag {
        font-size: 3.9em;
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        font-family: 'Lobster', cursive;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    }

    /* footer */
    .footer {
        background: #625D5D;
        color: white;
        border-top: 10px solid #E5E4E2;
        margin-left: 0;
        margin-right: 0;
    }

    ul.page-links  {
        list-style: none;
        margin: 0 auto;
        padding: 10px;
    }

    ul.page-links a {
        color: white;
    }

    #copywrite-div p {
        margin-bottom: 5px;
        margin-left: 0;
    }

    #contact-links a {
        font-size: 1.4em;
    }

    #directory-links a {
        line-height: 150%;
    }

    #list-header {
        text-decoration: underline;
    }
    /* end of footer */

    /* navbar */
    #outer-nav {
        width: 100%;
        background-color: #625D5D;
        color: white;
    }

    #nav-table {
        display: table;
        margin: 0 auto;
        
    }

    ul.main-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li.nav-item {
        display: inline-block;
    }

    li a.nav-link  {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.3em;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        transition: all .6s ease;
    }

    li a.nav-link:hover {
        background-color: #B6B6B4;
        font-size: 1.5em;
    }
    /* end of navbar */
/* ----------------------------------------------------------------------------------------- */
/* about page */
    .page-tag {
        width: 100%;
    }

    #bio-section {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #bio-content {
        border-left: 1px solid #B6B6B4;
        border-right: 1px solid #B6B6B4;
    }

    #bio-image-div {
        margin-right: 25px;
        float: left;
    }

    img#bio-image {
        border-radius: 25px;
    }

    #bio-section p {
        text-indent: 30pt;
        font-size: 1.2em;
    }
/* end of about page */
/* ----------------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------------- */
/* media queries */

/* tablet */
@media (max-width: 750px) {

    /* ================================ */
    /* about page */
        #bio-section {
            padding: 50px;
            padding-top: 10px;
        }

        #bio-content {
            border: none;
        }
    /* end of about page */
    /* ================================ */
}

/* phone */
@media (max-width: 500px) {

    /* ================================ */
    /* main styles */
    #name-box {
        margin-top: 10px;
        margin-left: 10px;
    }

    p#name-tag {
        text-align: left;
    }

    li a.nav-link {
        font-size: 1.2em;
    }

    #contact-link-div {
        /* places at top of screen */
        order: -1;
        padding: 0;
        font-size: .9em;
    }

    #copywrite-div {
        /* places at bottom of screen */
        order: 13;
        text-align: center;
    }

    /* end of main stlyes */
    /* ================================ */

    /* about page  */
    #bio-section {
        padding: 10px;
    }
        /* used to center bio image on phone screen */
    #bio-image-div {
        width: 100%;
        padding-bottom: 20px;
    }
    #bio-image-div img {
        display: block;
        margin: 0 auto;
    }
    /* end of about page */
    /* ================================ */

}