/* ----------------------------------------------------------------------------------------- */
/* main stlyes */
    ::-webkit-scrollbar { 
        display: none; 
    }

    table{
        table-layout: fixed;
        width: 100%;
    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #FFEBCD;
    }

    .parallax {
        background-image: url("../images/triangle-patterns-2.jpg");
        min-height: 200px; 
        background-attachment: fixed;
        background-position: center;
        background-size: auto;
    }

    #name-box {
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
    }

    #name-tag {
        font-size: 3.9em;
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        font-family: 'Lobster', cursive;
        text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    }

    /* navbar */
    .small-nav {
        display: none;
    }

    #outer-nav {
        width: 100%;
        background-color: #625D5D;
        color: white;
    }

    #nav-table {
        display: table;
        margin: 0 auto;
        
    }

    ul.main-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li.nav-item {
        display: inline-block;
    }

    li a.nav-link  {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.3em;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        transition: all .6s ease;
    }

    li a.nav-link:hover {
        background-color: #B6B6B4;
        font-size: 1.5em;
    }
    /* end of navbar */

    /* footer */
    .footer {
        background: #625D5D;
        color: white;
        border-top: 10px solid #E5E4E2;
        margin-left: 0;
        margin-right: 0;
    }

    ul.page-links  {
        list-style: none;
        margin: 0 auto;
        padding: 10px;
    }

    ul.page-links a {
        color: white;
    }

    #copywrite-div p {
        margin-bottom: 5px;
        margin-left: 0;
    }

    #contact-links a {
        font-size: 1.4em;
    }

    #directory-links a {
        line-height: 150%;
    }

    #list-header {
        text-decoration: underline;
    }
    /* end of footer */

/* ----------------------------------------------------------------------------------------- */
/* about page */
    .page-tag {
        width: 100%;
    }

    #bio-section {
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #bio-content {
        border-left: 1px solid #B6B6B4;
        border-right: 1px solid #B6B6B4;
    }

    #bio-image-div {
        margin-right: 25px;
        float: left;
    }

    img#bio-image {
        border-radius: 25px;
    }

    #bio-section p {
        font-size: 1.2em;
    }

/* Portfolio Page */
/* ----------------------------------------------------------------------------------------- */
    
    #project-row {
        margin-top: 25px;
    }

    #projects-col {
        text-align: center;
    }

    .project-box {
        background: whitesmoke;
        color: black;
        width: 300px;
        height: 400px;
        margin: 10px;
        display: inline-block;
        position: relative;
        overflow: auto;
        border: 2px solid black;
        border-radius: 10px;
    }

    .project-box:hover {
        border: 5px solid darkslategrey;
    }

    .project-btn {
        width: 100%;
        height: 50px;
        background: transparent;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        border: none;
    }

    i.expand-btn {
        float: right;
        font-size: 1.3em;
        display: none;
    }

    .content {
        margin-bottom : 10px;
    }

    .text-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .image-content {
        height: 150px;
        width: 100%;
    }

    #skills-row {
        margin-top: 25px;
    }

    .skill-title {
        text-align: center;
    }

    #skills-box {
        margin-bottom: 25px;
    }

 /* Contact Page */
/* ----------------------------------------------------------------------------------------- */
    #contact-row {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .form-control {
        background: whitesmoke;
    }

    .contact-box {
        width: 80%;
        position: relative;
        margin: 0 auto;
        padding-bottom: 20px;  
    }

    .important-links-box {
        position: relative;
        margin: 0 auto;
        width: 90%;
    }

    .important-link {
        width: 300px;
        height: 70px;
        background: whitesmoke;
        border-radius: 10px;
        border: 2px solid black;
        margin-bottom: 10px;
        font-family: 'Righteous', cursive;
    }

    .important-link:hover {
        border: 4px solid black;
        color: indigo;
        background: gainsboro;
        font-size: 1.1em;
    }

    .link-text:hover {
        margin-left: 30px;
    }

    img.link-image {
        float: right;
        width: 60px;
        height: 60px;
        margin: 5px;
    }

    p.link-text {
        text-align: left;
        font-size: 1.8em;
        font-weight: bold;
        line-height: 70px;
        margin-left: 10px;
    }

    .empty-field {
        border: 2px solid red;
    }

/* ----------------------------------------------------------------------------------------- */
/* media queries */

/* tablet */
@media (max-width: 820px) {

/* ================================ */
/* main styles */

    /* navbar styles */
    #navbar-button {
        color: white;
        margin: 0 auto;
        width: 100%;
        font-size: 1.7em;
    }


/* ================================ */
/* about page */
        #bio-section {
            padding: 50px;
            padding-top: 10px;
        }

        #bio-content {
            border: none;
        }

/* ================================ */
/* portfolio page */

    .project-box {
        height: auto;
    }

    .project-btn {
        text-align: left;
    }

    i.expand-btn {
        display: block;
    }

}

/* phone */
@media (max-width: 500px) {

/* ================================ */
/* main styles */
    #name-box {
        margin-top: 10px;
        margin-left: 10px;
    }

    p#name-tag {
        text-align: left;
        font-size: 3em;
    }

    /* navbar styles */
    .main-nav {
        display: none;
    }

    .small-nav {
        display: block;
    }

    ul.small-nav {
        padding: 0;
    }

    li.nav-item {
        display: block;
    }

    div#nav-table {
        width: 100%;
    }

    /* footer styles */
    #contact-link-div {
        /* places at top of screen */
        order: -1;
        padding: 0;
        font-size: .9em;
    }

    #copywrite-div {
        /* places at bottom of screen */
        order: 13;
        text-align: center;
    }

/* About page */
/* ================================ */

    #bio-section {
        padding: 10px;
    }
        /* used to center bio image on phone screen */
    #bio-image-div {
        width: 100%;
        padding-bottom: 20px;
    }
    #bio-image-div img {
        display: block;
        margin: 0 auto;
    }

/* Portfolio page */
/* ================================ */

    /* .project-box {
        height: auto;
    }

    .project-btn {
        text-align: left;
    }

    i.expand-btn {
        display: block;
    } */


/* contact page */
/* ================================ */

}

/* for very narrow phone screens */
@media(max-width: 340px) {
    
/* main styles */
/* ================================ */


/* about styles */
/* ================================ */



/* Portfolio page */
/* ================================ */
    .project-box {
        width: 290px;
        margin-left: 0;
    }

}