body {
    font-family: 'Eczar', serif;
    background-color: #d8c6b7;
}

.parallax {
    background-image: url("../images/vector.jpg");
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

#name-box {
    padding-left: 10px;
    padding-top: 10px;
}

#name-tag {
    font-size: 2.7em;
    color: White;
    font-weight: bold;
    margin-bottom: 0;
}

/* navbar */
#outer-nav {
    width: 100%;
    background-color: grey;
}

#nav-table {
    display: table;
    margin: 0 auto;
    
}

ul.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav-item {
    display: inline-block;
}

li a.nav-link  {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
/* end of navbar */

/* about page */
#bio-section {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#bio-image {
    margin-right: 25px
}

#bio-section p {
    text-indent: 30pt;
  }

/* end of about page */

/* media queries */
@media (max-width: 500px) {
    
    /* about page phone screen */
    #bio-section {
        padding: 10px;
    }
    #bio-image {
        margin: 0 auto;
    }
    /* end of about page */
}